<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Home</title>
  <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/my_ride.css">
    <link rel="stylesheet" href="/css/hmtab.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/dri_dash.css">
    <script src="/script/home.js" charset="utf-8"></script>
    <script src="/script/locshare.js" charset="utf-8"></script>

  </head>
  <body>

<%-include('dcontent');%>


  </body>
</html>
