<div class="ft1">
<p class="ft2">&copy &nbsp&nbsp&nbspPick Me 2019-2020</p>
</div>
<style media="screen">
  .ft1{
    height:100%;
    width:100%;
    line-height: 7vh;
    overflow:hidden;
  }
  .ft2{
    color: white;
    font-size: 0.8em;
    font-family: azo-sans-web, sans-serif;
    text-transform:uppercase;
    padding-left:5vw;
    margin:0px;
  }
</style>
