<div class="hm" id="hmpg">
  <div class="indiv" id="inhm">
    <div class="head1" onclick="smc1()"><p>Timetable</p></div>
    <div class="head2" onclick="smc2()"><p>Location</p></div>
    <div class="mc1"><div id="map"></div>
    <script src="/script/map.js" charset="utf-8"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ7yhBVyx1dMHDpf5QiFg_hhS6r6Tv2ZE&callback=initMap">
</script>
</div>
<div class="mc2">
<table>
<thead>
<tr>
<th scope="col">Pickup Time</th>
<th scope="col">Pickup Location</th>
<th scope="col">Driver Contact</th>
</tr>
</thead>
<tbody>
<tr>
<td scope="row" data-label="Pickup Time">Sample Data 1</td>
<td data-label="Pickup Location">Sample Data 1</td>
<td data-label="Driver Contact">Sample Data 1</td>
</tr>
<tr>
<td scope="row" data-label="Pickup Time">Sample Data 2</td>
<td data-label="Pickup Location">Sample Data 2</td>
<td data-label="Driver Contact">Sample Data 2</td>
</tr>
<tr>
<td scope="row" data-label="Pickup Time">Sample Data 3</td>
<td data-label="Pickup Location">Sample Data 3</td>
<td data-label="Driver Contact">Sample Data 3</td>
</tr>
<tr>
<td scope="row" data-label="Pickup Time">Sample Data 4</td>
<td data-label="Pickup Location">Sample Data 4</td>
<td data-label="Driver Contact">Sample Data 4</td>
</tr>
</tbody>
</table>

</div>
  </div>
</div>
