<option value="Kumaon Hostel">Kumaon Hostel</option>
<option value="Shivalik Hostel">Shivalik Hostel</option>
<option value="Jwalamukhi Hostel">Jwalamukhi Hostel</option>
<option value="Vindhyachal Hostel">Vindhyachal Hostel</option>
<option value="Zanskar Hostel">Zanskar Hostel</option>
<option value="Aravali Hostel">Aravali Hostel</option>
<option value="Karakoram Hostel">Karakoram Hostel</option>
<option value="Satpura Hostel">Satpura Hostel</option>
<option value="Nilgiri Hostel">Nilgiri Hostel</option>
<option value="Udaigiri Hostel">Udaigiri Hostel</option>
<option value="Girnar Hostel">Girnar Hostel</option>
<option value="Himadri Hostel">Himadri Hostel</option>
<option value="Kailash Hostel">Kailash Hostel</option>
<option value="Lecture Hall Complex">Lecture Hall Complex</option>
<option value="IIT Delhi Main Building">IIT Delhi Main Building</option>
<option value="Bharti Building">Bharti Building</option>
<option value="IIT Delhi Hospital">IIT Delhi Hospital</option>
<option value="IIT Delhi Main Gate">IIT Delhi Main Gate</option>
<option value="IIT Delhi Hostel Gate">IIT Delhi Hostel Gate</option>
<option value="DMS Building">DMS Building</option>
