<div class="navbar">
  <div class="heading"><p class="fon">PICK ME</p></div>
  <div class="btns">
    <a href="/rider_dashboard"><button class="button button1" name="Home">Home</button></a>
    <a href="/my_ride"> <button class="button button1" name="Sign up">My Rides</button></a>
    <a href="/req_form"><button class="button button1" name="Sign up">Request Ride</button></a>
    <a href="/logout"><button class="button button2" name="Sign up">Logout</button></a>
    <div class="dropdown" style="float:right;">
<button class="dropbtn"><div class="hmbrg"></div>
<div class="hmbrg"></div>
<div class="hmbrg"></div></button>
<div class="dropdown-content">
<a href="/rider_dashboard">Home</a>
<a href="/my_ride">My Rides</a>
<a href="/req_form">Request Ride</a>
<a href="/logout">Logout</a>
</div>
</div>
  </div>
</div>
